    <div class="row" v-if="!cloudSuccess">
        <div class="container">
            <h1><%= title %></h1>
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                     <div class="col col-xs-6">
                       <h3 class="panel-title"></h3>
                     </div>
                     <div class="col col-xs-6 text-right">
                       <a href="/user/new" class="btn btn-sm btn-default btn-create"><i class="fa fa-plus"></i> Novo</a>
                     </div>
                    </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-hover">
                          <thead>
                            <tr>
                              <th scope="col" width="100px">
                                  #
                              </th>
                              <th scope="col">Nome</th>
                              <th scope="col">E-mail</th>
                              <th scope="col">Profile</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% _.each( users, function (user) { %>
                                <tr>
                                  <th scope="row">
                                      <form name="<%= user.id %>" action="/user/delete" method="post">
                                          <input type="hidden" name="_csrf" value="<%- _csrf %>" />
                                          <input type="hidden" name="id" value="<%= user.id %>" />
                                          <a href="/user/edit/<%= user.id %>" class="btn btn-sm btn-outline-info btn-create"><i class="fa fa-pencil"></i></a>
                                          <button type="submit" class="btn btn-sm btn-outline-danger btn-create"><i class="fa fa-trash"></i></button>
                                      </form>
                                  </th>
                                  <td><%= user.name %></td>
                                  <td><%= user.email %></td>
                                  <td><%= user.profile.name %></td>
                                </tr>
                            <% }); %>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
